{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <div class="row-fluid" id="main">
        {% for article in articles %}
        <div class="span4">
            <div class="thumbnail">
                <a href="{{ article.url }}"><img src="http://placehold.it/300x150/483CB4"></a>
                <div class="caption">
                    <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
                    <p> {{ article.summary }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
