{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <legend></legend>

        <!-- Testing -->
        {%- for row in articles|batch(3) %}
        <div class="row-fluid" id="main">
            {%- for article in row %}
            <div class="span4">
                <div class="thumbnail">
                    <a href="{{ article.url }}"><img src="{{ article.image_url
                        }}" class="img-rounded
                    imgClip"></a>
                <div class="caption">
                    <h4><a href="{{ article.url }}">{{ article.title }}</a></h4>
                    <p> {{ article.content }}</p>
                </div>
                <legend></legend>
                <a class="btn" href="#"><i class="icon-thumbs-up"></i></a>
                <a class="btn" href="#"><i class="icon-thumbs-down"></i></a>
                <span><strong>Comments:</strong> 0</span>
                </div>
            </div>
            {%- endfor %}
        </div>
        <br />
        {%- endfor %}
</div>
{% endblock %}
