{% extends "base.html" %}
{% block content %}
<div class="container">

    {% from "forms/macros.html" import render_field %}
    <form method="POST" action="." class="form">
        <fieldset>
            <legend>Login</legend>
                {{ form.csrf_token }}
                {{ render_field(form.email, class="input-xlarge") }}
                {{ render_field(form.password,class="input-xlarge") }}
                <button type="submit" value="Login" class="btn btn-primary">Submit</button>
        <fieldset>
    </form>
    {% if error %}
        <br />
        <div class="alert alert-error">
            <strong>{{ error }}</strong>
        </div>
    {% endif %}
</div>
{% endblock %}
