<!DOCTYPE html>
<html>
  <head>
      <title>{% block title %}{% endblock %}</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',
          filename='css/bootstrap.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',
          filename='css/consolecraze.css') }}">

    {% block css %}
  	{% endblock %}
  	{% block script %}
  	{% endblock %}
  </head>
  <body>
      <div class="navbar navbar-static-top">
          <div class="navbar-inner">
              <a class="brand" href="/">ConsoleCraze</a>
              <ul class="nav">
                  <li><a href="#">POPULAR</a></li>
                  <li><a href="#">UPCOMING</a></li>
              </ul>
              <ul class="nav pull-right">
                  {% if session['user_id'] is undefined %}
                  <li><a href="/users/login/">Login</a></li>
                  <li><a href="/users/register/">Sign up</a></li>
                  {% else %}
                  <li><a href="/users/profile/">{{ user.name }}</a></li>
                  <li><a href="/users/logout/">Logout</a></li>
                  {% endif %}
              </ul>
          </div>
      </div>
      <div id="content">{% block content %}{% endblock %}</div>
      <div id="footer">{% block footer %}{% endblock %}</div>
      <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/consolecraze.js') }}"></script>
  </body>
</html>
